{% extends 'base.html' %}
{% block content %}
  <h1>Edit User</h1>
    <table class="table mt-4" >
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>username</td>
                <td>{{ user.username }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ user.first_name }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ user.last_name }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ user.date_of_birth }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{ user.contact }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ user.address }}
                </td>
                <td>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Change Password</td>
                <td>
                </td>
                <td><a href="#" class="btn btn-danger">Reset</a></td>
            </tr>
            {% if request.user.is_staff %}
            <tr>
                <td>
                </td>
                <td></td>
                <td><a href="{% url 'profile' %}" class="btn btn-info">Back</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
{% block logout %}
<div class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
</div>
{% endblock %}